.header {
  background: url("../img/header_bg.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  //padding-top: 25px;
  &__top {
    display: flex;
    padding: 25px 0;
  }

  &__nav {

  }

  &__link {
    text-decoration: none;
    color: #151C22;
    font-size: 18px;
    margin-right: 35px;
  }
}